{% extends 'web/base.html' %}
{% load staticfiles %}

{% block page_title %}
About
{% endblock %}

{% block content %}
	<div class="col-md-8">

		<div class="row" style="margin-top:5px">
			<div class="col-md-12">
				<div class="title">
					<h1>Mabuhay</h1>

					<p>
						Welcome to ArmMando. From the word "ARM" which is synonymous to equip and the tagalog
						word "Mando" which can mean to command or to instruct, ArmMando's goal is to equip
						the users with the right tools and give them knowledge of livelihood projects they can
						do and also earn from.
					</p>

					<p>
						This site is also named after my father Armando B. Meriales. My father was also a part-time
						instructor for livelihood projects like t-shirt printing, silk screen, mug design transfer, etc.
						By doing this as part-time he earned money to support our needs.
					</p>

					<p>
						The site provides users with instructions on how to learn a certain skill and also they can view a list
						of professionals who they can contact and learn from or if they have knowledge on the said skill they
						can sign up as an instructor. Users can also view suppliers or if they are the suppliers for the project
						they can sign up and leave their contact number so that prospective buyers can contact them.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}