{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Armmando | {% block page_title %}{% endblock %}</title>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- Custom Theme files -->
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
	<!--//theme-style-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="OFW Guru, guides for OFW, blogs for OFW, Overseas Filipino Workers guides and blogs" />

	<!--fonts-->
	<!--//fonts-->
	<!--<link rel="stylesheet" type="text/css" media="all" href="css/audio.css">-->
	<style type="text/css">
		.account-top {
			margin-top: 0px;
		}

		ul.profile li a{
			padding: 10px;
		}

		.icon-home, .icon-pencil,
		.icon-question-sign {
			color: #DC483A;
			font-size: 0.8em;			
			/*
			border-right: 1px solid #E7E7E7;
			padding: 1.5em;
			transition: 0.5s all;
			webkit-transition: 0.5s all;
			-o-transition: 0.5s all;
			-moz-transition: 0.5s all;
			-ms-transition: 0.5s all;
			*/
			width: 19px;
			height: 19px;
			opacity: 0.7;
		}

		.icon-home {
			background: url(/static/images/glyphicons-halflings-sprite-sheet.png) 0 -31px;
		}

		.icon-pencil {
			background: url(/static/images/glyphicons-halflings-sprite-sheet.png) -308px 0;			
		}

		.icon-question-sign {
			background: url(/static/images/glyphicons-halflings-sprite-sheet.png) -122px -123px;			
		}

		body > div.header > div.col-md-9 > div > div.col-md-4.col-sm-4.in-menu > div > ul > li > a > span {
			height: 35px;
			position: relative;	
			top:-3px;		
		}
	</style>
</head>
<body>
	<div class="logo">
		<a href="{% url 'index' %}" class="text-logo">
			<h3><span style="color:#000">ARM</span><span style="color:gold">MANDO</span></h3>
		</a>
	</div>
	<div class="header">

		{% comment %}
		{% include 'web/nav.html' %}
		{% endcomment %}

		<div class="col-md-9">
			<div class="col-mn">
				<div class="col-md-4 col-sm-4 in-menu">
					<div class="menu-in">
						<h2>Menu</h2>
						<ul class="profile">
						<li>
							<a href="{% url 'index' %}">
								<i class="glyphicon icon-home"></i>
								<span>{% trans "Home" %}</span>
							</a>
						</li>
						<li>
							<a href="{% url 'guides_list' %}">
								<i class="glyphicon icon-pencil"></i>
								<span>{% trans "Guides" %}</span>
							</a>
						</li>
						<li>
							<a href="{% url 'about_us' %}">
								<i class="glyphicon icon-question-sign"></i>
								<span>{% trans "About Us" %}</span>
							</a>
						</li>
						</ul>
					</div>
					<!--
					<div class="lamp">
						<div class="lamp-top">
							<a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
							<h5>Some Item Title</h5>
							<p>Lorem ipsum dolor sit amet, cetero inimicus an mei, ea ius.</p>
						</div>
					</div>
					-->
					<!--
					<div class="sign">
						<div class="close1 glyphicon glyphicon-remove"> </div>
						<h3>Join With Us!</h3>
						<div class="join">
							<ul>
								<li class="up"><a  href="#">Sign Up</a></li>
								<li class="up-in"><a  href="#">Login</a></li>
							</ul>
												<p class="agree">* I agree with a <a href="#">Terms</a> & <a href="#">Conditions</a></p>					

						</div>	
					</div>
					-->
				</div>
				<div class="clearfix visible-xs"></div>

				{% block content %}
				{% endblock %}

				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-3">
			<!---->
			<div class="account-top">
				{% if not request.user.is_authenticated %}
					{% comment %}
					<div class="your-at">
						<p class="connect-in">
							Connect with <a href="{% url 'social:begin' backend="facebook" %}">Facebook</a>
						</p>
					</div>
					{% endcomment %}
					<h3>{% trans "Register" %}</h3>
					<div class="your-at">
						<div class="your-top-at">
							<form action="{% url 'sign_up' %}" method="POST">
								{% csrf_token %}
								<input type="text" name="username" placeholder="Email" />		
								<input type="password" name="password" placeholder="Password" />			
								<input type="password" name="confrim_password" placeholder="Confirm password" />
								<input type="submit" value="Register">
							</form>
						</div>
					</div>
					<h3>{% trans "Login" %}</h3>
					<div class="your-at">
						<div class="your-top-at">
							<form action="{% url 'login' %}" method="POST">
								{% csrf_token %}
								<input type="text" name="username" placeholder="Email" />		
								<input type="password" name="password" placeholder="Password" />
								<input type="submit" value="Login">
							</form>
						</div>
					</div>
				{% else %}
					<div class="your-at">
						<p class="connect-in">
							<a href="{% url 'logout' %}">Logout</a>
						</p>
					</div>
				{% endif %}


				<h3>{% trans "Select Language" %}</h3>
				<div class="your-at">
					<form action="{% url 'set_language' %}" method="post">
					{% csrf_token %}
						<input name="next" type="hidden" value="{{ redirect_to }}" />
						<select name="language" class="form-control">
							{% get_current_language as LANGUAGE_CODE %}
							<option value="en"{% if LANGUAGE_CODE == 'en' %} selected="selected"{% endif %}>
							    English
							</option>
							<option value="en-ph"{% if LANGUAGE_CODE == 'en-ph' %} selected="selected"{% endif %}>
							    Tagalog
							</option>
						</select>
						<input type="submit" value="Go" />
					</form>
				</div>
			</div>
			<!---->
		</div>
	</div>
	<div class="clearfix"></div>

	{% include 'web/footer.html' %}
</body>
</html>