{% extends 'web/base.html' %}
{% load staticfiles %}

{% block page_title %}
Home
{% endblock %}

{% block content %}
	{% comment %}
	<!-- blogs -->
	<div class="col-md-4" id="blogs-container">
		<div class="book">
			{% for blog in blogs %}
				<div id="blog-{{ blog.id }}">
					<!--
					<div class="book-top">
						<a href="{% url 'blogs_details' blog.slug %}">
							<img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="">
						</a>
					</div>
					-->
					<div class="title">
						<h4>
							<a href="{% url 'blogs_details' blog.slug %}">{{ blog.title }}</a>
						</h4>
						<p>
							{{ blog.content|striptags|truncatechars:97 }}						
						</p>
						<span>{{ blog.modified|date:'M d, y' }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- guides -->
	<div class="col-md-4" id="guides-container">
		<div class="book">
			{% for guide in guides %}
				<div  id="guide-{{ blog.id }}">
					<!--
					<div class="book-top">
						<a href="{% url 'guides_details' guide.slug %}">
							<img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="">
						</a>
					</div>
					-->
					<div class="title">
						<h4>
							<a href="{% url 'guides_details' guide.slug %}">{{ guide.title }}</a>
						</h4>
						<p>
							{{ guide.content|striptags|truncatechars:97 }}						
						</p>
						<span>{{ guide.modified|date:'M d, y' }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endcomment %}
	<div class="col-md-8">
		{% for blog in object_list %}
			{% if not forloop.counter|divisibleby:2 %}
				<div class="row">
			{% endif %}
			<div class="col-md-6" id="blogs-container">
				<div class="book">
					<!--
					<div class="book-top">
						<a href="{% url 'blogs_details' blog.slug %}">
							<img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="">
						</a>
					</div>
					-->
					<div class="title">
						<h4>
							<a href="{% url 'guides_details' blog.slug %}">{{ blog.title }}</a>
						</h4>
						<p>
							{{ blog.content|striptags|truncatechars:97 }}						
						</p>
						<span>{{ blog.modified|date:'M d, y' }}</span>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:2 or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}

		{% comment %}
		<div class="row" style="margin-top:5px">
			<div class="col-md-12">
				<div class="title">
					<center>
			            <div class="pagination">
			                <span class="page-links">
			                    {% if object_list.has_previous %}
			                        <a href="?page={{ object_list.previous_page_number }}{% if kw %}&kw={{ kw }}{% endif %}">previous</a>
			                    {% endif %}
			                    <span class="page-current">
			                        Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
			                    </span>
			                    {% if object_list.has_next %}
			                        <a href="?page={{ object_list.next_page_number }}{% if kw %}&kw={{ kw }}{% endif %}">next</a>
			                    {% endif %}
			                </span>
			            </div>
		            </center>
				</div>
			</div>
		</div>
		{% endcomment %}
	</div>
{% endblock %}