{% load staticfiles %}

<div class="top-nav">
	<span class="menu hidden-xs"><img src="{% static 'images/menu.png' %}" alt=""> </span>

	<ul>
		<li>
			<a href="{% url 'index' %}">Home</a>
		</li>
		<li>
			<a href="{% url 'blogs_list' %}" >Blog</a>
		</li>
		<li>
			<a href="{% url 'guides_list' %}?cid=4" >Going Abroad Guide</a>
		</li>
		<li>
			<a href="{% url 'guides_list' %}?cid=5" >Money Matters</a>
		</li>
		<li>
			<a href="{% url 'about_us' %}">About Us</a>
		</li>
		<div class="clearfix"> </div>
	</ul>
</div>
