{% extends 'web/base.html' %}
{% load staticfiles %}

{% block page_title %}
	{{ object.title }}
{% endblock %}

{% block content %}
	<div class="col-md-8 col-sm-8 col-xs-12" id="article-content-container">
		<div class="book">
			<div class="title">
				<h2>{{ object.title }}</h2>
				{% autoescape off %}
					{{ object.content }}
				{% endautoescape %}
				<br />
				<span>{{ object.modified|date:'M d, y' }}</span>
			</div>
		</div>
	</div>
{% endblock %}