{% extends 'web/base.html' %}
{% load staticfiles %}

{% block page_title %}
	Blogs
{% endblock %}

{% block content %}
	<div class="col-md-8">
		{% for blog in object_list %}
			{% if not forloop.counter|divisibleby:2 %}
				<div class="row">
			{% endif %}
			<div class="col-md-6" id="blogs-container">
				<div class="book">
					<!--
					<div class="book-top">
						<a href="{% url 'blogs_details' blog.slug %}">
							<img class="img-responsive" src="{% static 'images/pi1.jpg' %}" alt="">
						</a>
					</div>
					-->
					<div class="title">
						<h4>
							<a href="{% url 'blogs_details' blog.slug %}">{{ blog.title }}</a>
						</h4>
						<p>
							{{ blog.content|striptags|truncatechars:97 }}						
						</p>
						<span>{{ blog.modified|date:'M d, y' }}</span>
					</div>
				</div>
			</div>
			{% if forloop.counter|divisibleby:2 or forloop.last %}
				</div>
			{% endif %}
		{% endfor %}

		<div class="row" style="margin-top:5px">
			<div class="col-md-12">
				<div class="title">
					<center>
			            <div class="pagination">
			                <span class="page-links">
			                    {% if page_obj.has_previous %}
			                        <a href="?page={{ page_obj.previous_page_number }}{% if kw %}&kw={{ kw }}{% endif %}">previous</a>
			                    {% endif %}
			                    <span class="page-current">
			                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
			                    </span>
			                    {% if page_obj.has_next %}
			                        <a href="?page={{ page_obj.next_page_number }}{% if kw %}&kw={{ kw }}{% endif %}">next</a>
			                    {% endif %}
			                </span>
			            </div>
		            </center>
				</div>
			</div>
		</div>
	</div>
{% endblock %}