{% extends 'web/base.html' %}
{% load staticfiles i18n %}

{% block page_title %}
	{{ object.title }}
{% endblock %}

{% block content %}
	<div class="col-md-8 col-sm-8 col-xs-12" id="article-content-container">
		<div class="book">
			<div class="title">
				<h2>{{ object.title }}</h2>
				{% autoescape off %}
					{{ object.content }}
				{% endautoescape %}
				<br />
				<span>{{ object.modified|date:'M d, y' }}</span>

				<br />
				<br />

				<div class="instructors-container">
					<h3>{% trans "Professional Instructors" %}</h3>
					{% trans "Learn" %} "<strong>{{ object.title }}</strong>" {% trans "from professionals" %}. {% trans "You can contact them for more details" %}.
					<br />
					<ul>
						{% for instructor in article.instructors.all %}
							<li>{{ instructor.user.get_full_name }} - {{ instructor.contact }} {% if request.user == instructor.user %}<a href="{% url 'guides_edit_instructor' object.id %}">Edit</a>{% endif %}</li>
						{% endfor %}
					</ul>
				</div>
				<br />
				<div class="suppliers-container">
					<h3>{% trans "Suppliers" %}</h3>
					{% trans "Find suppliers for some or all requirements for" %} "{{ object.title }}".
					<br />
					<ul>
						{% for supplier in article.suppliers.all %}
							<li>{{ supplier.user.get_full_name }} - {{ supplier.contact }} - {{ supplier.supplies }} {% if request.user == supplier.user %}<a href="{% url 'guides_edit_supplier' object.id %}">Edit</a>{% endif %}</li>
						{% endfor %}
					</ul>					
				</div>
				<br />
				<div class="new-instructor-container">
					<h3>{% trans "Be an Instructor" %}</h3>
					{% trans "I can teach" %} "<strong>{{ object.title }}</strong>".
					<br />
					<a href="{% url 'guides_new_instructor' object.id %}">{% trans "Add me as an instructor" %}</a>
				</div>
				<br />
				<div class="new-supplier-container">
					<h3>{% trans "I am a Supplier" %}</h3>
					{% trans "I supply some or all of the materials needed for" %} "<strong>{{ object.title }}</strong>".
					<br />
					<a href="{% url 'guides_new_supplier' object.id %}">{% trans "Add me as a supplier" %}</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}