{% extends 'web/base.html' %}
{% load staticfiles i18n widget_tweaks %}

{% block page_title %}
	{% if instance %}
		Edit Contact
	{% else %}
		Add Contact
	{% endif %}
{% endblock %}

{% block content %}
	<div class="col-md-8 col-sm-8 col-xs-12" id="article-content-container">
		<div class="book">
			<div class="title">
				<h2>{% trans "Supplier for" %} "{{ article.title }}"</h2>
				<p>
					{% blocktrans %}
					I can supply some or all the requirements for this topic and by providing
					my contact number I allow anyone interested to contact me.
					{% endblocktrans %}
				</p>
				<form method="POST">
					{% csrf_token %}
					{{ form.article }}
					{{ form.user }}

					<div class="form-group">
						<label class="col-md-12">Contact #: </label>
						<div class="col-md-12 {% if form.contact.errors %}has-error{% endif %}">
							{{ form.contact|attr:"placeholder:e.g. 09221234567"|add_class:"form-control" }}							
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-12">{% trans "I can supply the following" %}: </label>
						<div class="col-md-12 {% if form.supplies.errors %}has-error{% endif %}">
							{{ form.supplies|attr:"placeholder:Limit supply listing to 100 characters"|attr:"rows:2"|add_class:"form-control" }}							
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-block">{% trans "Submit" %}</button>
						</div>
					</div>
				</form>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
{% endblock %}